.divA{
    background: #2e0085; 
    width: 500px; 
    height: 500px;
}
.divB{
    background: #655f83;
    width: 250px;
    height: 250px;
}
.divC{
    color: rgb(0, 0, 0);
    background: rgb(122, 130, 238);
    font-size: 25px;
    font-family: monospace;
    font-weight: bold;
}
.divD{
    width: 50%;
    height: 50vh;
    background: #0478c5;
}
.divE{
    width: 75vw;
    height: 50%;
    background: #1c807b;
}